<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Videos Index</h1>
    <div class="container">
       
         <a href="/yvideos/new"><button>Add A New Product</button></a>

        <table> 
            <% for(let i = 0; i < yvideos.length; i++) { %>
            <tr>
                <td>
                    </td>
                         <form
                            action="/yvideos" method="POST">
                            <br>
                        <h4>Video:<a class="tomato" href="/yvideos/<%= yvideos[i].id %>">
                            <%= yvideos[i].title %>
                        </a><br>
                        Likes: <em>$<%= yvideos[i].likes %></em><br>
                        Subscribers <%= yvideos[i].subscribers %>
                    </h4>
                    <a href="/yvideos/<%= yvideos[i].id %>"></a>
                        <img src="<%= yvideos[i].img %>"  height="270px">
                        <img src="<%= yvideos[i].video %>">
                    </form>
            </tr>
            <% } %>
        </table> 

    </div>
</body>
</html>